body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  font-family: Schibsted Grotesk, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
}
